@import './App.scss';
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html,
body {
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', 'Open Sans', 'Droid Sans', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  // overflow: hidden;
  margin-bottom: 46px;
}

main {
  max-width: 768px;
  margin: 0 auto;
  @media print {
    max-width: 90%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
