.unit-select {
  margin-top: 2rem;
}

.unit-artefacts__dropdown {
  margin-top: 10px;
  &.show.dropdown {
    .unit-artefacts__dropdown-item {
      &:last-child {
        margin-bottom: 37px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      }
    }
  }
}
.delete-confirm {
  &__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
